@font-face {
    font-family: 'prime-regular';
    src: url('/Prime Regular.otf')
        format('opentype');
}

nav .f3 {
    background: rgb(251,176,64);
    background: linear-gradient(90deg, rgba(251,176,64,1) 0%, rgba(254,211,60,1) 50%, rgba(249,237,50,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-family: 'prime-regular';
}